.primary-button {
  border: none;
  padding: 15px 40px;
  margin: 8px 15px;
  border-radius: 50px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;

  &--grey {
    background-color: #313f5b;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid #ccd5e0;
  }

  
  @media only screen and (max-width: 768px) {
    font-size: 62px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 44px;
  }
}
