.first-development {
  background-color: #f7f7fb;
  border-radius: 2px;
  display: inline-block;
  border-left: 3px solid #ff8d13;
  padding: 21px 28px 20px 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #080f20;
  width: 330px;
  white-space: nowrap;
}

.second-development {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #b7b9cc;
  border-left: 2px solid #f1f1f1;
  padding: 21px 28px 20px 36px;
}

.last-development {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #b7b9cc;
  margin-top: 45px;
  margin-left: 36px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.h3-developing {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #080f20;
  width: 497px;
  margin-bottom: 40px;
}

.line-developing {
  width: 20px;
  height: 3px;
  background-color: #ff8d13;
  display: inline-block;
}

.text-line__developing {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #4f4f4f;
}

.line-boxes {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.development-section {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: 100px;
}

.image-boxes {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.last-box__line {
  margin-bottom: 50px;
}

.other-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #4f4f4f;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 100px;
}

.last-image__boxes {
  margin-bottom: 66px;
}