.section-header-text {
  margin: 0;
  font-family: "Inter";
  font-size: 700;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #191f58;
  padding-bottom: 25px;
  padding-top: 50px;
}

.section-header-content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #4f4f4f;
  opacity: 0.8;
}
