* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 15px;
}

p {
  width: 468px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

span {
  padding: 6px 15px;
  background: #fafbfd;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  margin-bottom: 49px;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4f4f4f;
}

.portfolio {
  display: flex;
  margin-top: 160px;
}

.portfolio__inner {
  margin-right: 87px;
}

.portfolio__texts {
  margin-bottom: 49px;
  display: flex;
  gap: 21px;
}

.portfolio__links {
  display: flex;
  gap: 15px;
}

.portfolio__imgs {
  display: flex;
  gap: 21px;
}

@media only screen and (max-width: 768px) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio__inner {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .portfolio__inner {
    margin-left: 5px;
  }
  .portfolio__imgs {
    flex-direction: column;
    margin-left: 5px;
  }
  p {
    width: 400px;
  }
  img {
    width: 400px;
  }
}