.people {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 50px;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  // margin: 0;
  .person {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    h6 {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
