.hero-banner {
  height: 100vh;
  background: url("./img/hero-dark-bg.png") no-repeat center / cover fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    height: 80vh;
  }
}

.hero-banner__content {
  text-align: center;
  color: #fff;
}

.hero-banner__title {
  font-size: 76px;
  margin: 0 0 35px;
  font-weight: 800;
  padding: 0 30px;

  @media only screen and (max-width: 768px) {
    font-size: 62px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 44px;
  }
}

.hero-banner__desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #ccd5e0;

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media only screen and (max-width: 576px) {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}
