.header__df {
  display: flex;
  justify-content: space-around;
}

.header__ul {
  display: flex;
  gap: 20px;
  margin-top: 5%;

  li {
    list-style: none;
    color: rgb(68, 63, 63);

    a {
      text-decoration: none;
      color: rgb(68, 63, 63);

      &:active {
        color: rgb(68, 63, 63);
      }

      &:hover {
        border-bottom: 2px solid #FF8D13;
      }
    }
  }
}

.header__trigger {
  cursor: pointer;
  height: 10px;
  z-index: 1;

  span:hover {
    border-bottom: 2px solid #FF8D13;
  }
}


.header__drop.active {
  opacity: 1;
  visibility: visible;
}

.header__drop.inactive {
  opacity: 0;
  visibility: hidden;
}

.header__drop {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #313136;
  width: 100px;

  li {

    a {
      color: #fff;
    }
  }
}

.header__mobile-btn {
  display: none;
}

@media (max-width: 347px) {
  .header {
    width: 100%;
  }

  .header__mobile-logo {
    margin-top: -138%;
    position: absolute;
  }

  .header__mobile-btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 25px;
    border: 1px solid #313F5B;
    border-radius: 50%;
    background: #313F5B;
    top: 43px;
    padding: 9px 9px;
    color: #fff;
    cursor: pointer;
    z-index: 1;

    svg {
      width: 21px;
      height: 20px;
      display: block;
    }
  }

  .header__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    left: -380px;
    font-size: 21px;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #080F20;
    z-index: 1;
    transition: 0.5s ease;
  }

  .header__ul li a {
    color: #fff;
    margin-left: -35px;
  }

  .active {
    left: 0;
    top: -16px;
  }
}